
.features-list {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 72px;
    justify-content: center;
}

.features-list .text-title {
    margin-bottom: 8px;
}



.icon-wrapper {
    display: none;
    visibility: hidden;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
}


.features-list .text {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;

    }
    .features-list .list {
        flex-basis: calc((100% - 24px) / 2);
    }

    .features-list .text-title {
            text-align: left;
    }

   
}

@media screen and (min-width: 1158px) {
    

    .features-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap:24px;
    
        }

    .icon-wrapper {
        display: flex;
        visibility: visible;
        pointer-events: auto;
    }


    .features-list .list {
        flex-basis: calc((100% - 48px) / 4);
    }

    .features-list .text-title {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .features-list .text {
        font-weight: 400;
        
    }

}
