.footer {
    background-color: #2e2f42;
    padding: 96px 0px;
    margin: 0 auto;

    
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}



.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer .logo {
    color: #f4f4fd;
}

.footer-wrapper .text {
    margin-top: 16px;
    /*max-width: 264px;*/
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;

    max-width: 264px;
}





.socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
   
}


.container>.socials .socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



.footer .socials-link:hover, .footer .socials-link:focus {
 background-color: #31D0AA;
}

.socials .text {
    color:#ffffff;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;


    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#fff;
}

.subscribe .text {
    text-align: center;
}

.subscribe .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.subscribe-input {
    width: 288px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin:0 auto;
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }


.subscribe .subscribe-input::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em
}

.subscribe .subscribe-input:focus {
    border: 1px solid #31D0AA;
    outline: none;
}

.button-subscribe {
    display: flex;
    width: 165px;
    max-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    gap: 16px;
    fill: #ffffff;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subsсribe:hover, .button-subscribe:focus {
    background-color: #31D0AA;
}

@media screen and (min-width: 768px) {

    .footer .container {
        max-width: 768px;
        padding: 0 108px; 

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
    }

    .subscribe {
        flex-grow: 1;

    }
    

       
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0px;
        margin: 0;
        width: 264px;
        
    }

    .socials .text {
        text-align: left;
    }

    .container>.socials .socials-list {
        
        justify-content: flex-start;
        
        
    }

    .subscribe {
        display: block;
        flex-grow: 100%;
        
    }

    .subscribe .text {
        text-align: left;
    }

    .subscribe .subscribe-form {
        display: inline-flex;
        flex-direction: row;
        gap: 24px;
        margin-top: 16px;


    }


    .subscribe .subscribe-input {
        width: 264px;
        min-width: 264px;
    }
}

@media screen and (min-width: 1158px) {
   .footer {
        margin:0 auto;
        padding: 100px 0;
        }
   
   
    .footer .container {
        max-width: 1158px;
        padding: 0 15px;

        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
        gap: 0;


    }
    .footer-wrapper {
        margin-right: 120px;
    }
    

    .subscribe {
        flex-grow: 0;
        
        
    }

    .socials {
        margin-left: auto;
    }



}