.team {
    background-color: #f4f4fd;
    margin: 0 auto;
}


 .team .text-title, .team .text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.team .text-wrapper {
    padding: 32px 16px;
}

.team-list .text-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list .list {
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



.team-list .socials-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.team-list .socials-link:hover, .team-list .socials-link:focus {
    background-color: #404BBF;
}
      
@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    /*.team-list .list {
        flex-basis: calc((100% - 24px) / 2);
    }*/

    .team-list .text-title {
            text-align: center;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}